In [81]:
import pandas as pd
import numpy as np

df = pd.read_csv('Malaria_data_file.csv')

In [93]:
df.groupby('Country').mean().sort_values('Malaria cases/100,000 pop.', ascending=False).head(10)

,Year,GDP/capita,Population,"Malaria cases/100,000 pop.","Under-5s (per 100,000)","All ages (per 100,000)","70+ years old (per 100,000)","50-69 years old (per 100,000)","15-49 years old (per 100,000)","5-14 years old (per 100,000)","Age-standardized (per 100,000)",Latitude Number,Longitude Number
Country,,,,,,,,,,,,,
Guinea,2012.5,1234.584789,1.061720e+07,38642.320635,630.475000,129.180000,217.650000,63.805000,17.735000,41.285000,101.695000,9.29,-13.49
Uganda,2009.5,1516.892363,3.296645e+07,37841.343943,577.983750,143.008750,257.983750,84.795000,21.233750,41.270000,105.175000,0.20,32.30
Mozambique,2009.5,907.828593,2.313972e+07,31488.750265,464.963750,106.791250,158.211250,49.440000,16.723750,35.065000,77.148750,-25.58,32.32
Cote d'Ivoire,2010.5,2694.132979,1.997994e+07,31275.495317,700.996667,154.571667,361.913333,107.453333,32.968333,59.256667,139.733333,6.49,-5.17
Sierra Leone,2012.5,1528.909436,6.190806e+06,30751.765310,810.715000,164.065000,325.755000,81.830000,21.755000,55.460000,140.170000,8.30,-13.17
Malawi,2010.5,1021.757494,1.516982e+07,30311.493992,356.315000,81.678333,129.041667,43.556667,11.465000,24.538333,59.821667,-14.00,33.48
Burkina Faso,2009.5,1402.407532,1.626414e+07,29015.172741,1142.602500,252.166250,357.996250,114.355000,27.793750,62.858750,176.041250,12.15,-1.30
Liberia,2012.5,795.247408,4.296712e+06,28218.723210,265.075000,64.680000,196.565000,60.730000,15.450000,25.640000,63.760000,6.18,-10.47
Ghana,2010.5,3276.074130,2.468725e+07,27404.355735,443.443333,103.855000,256.210000,93.378333,26.956667,37.450000,96.191667,5.35,-0.06
Chad,2009.5,1841.642473,1.109649e+07,26233.508219,243.517500,54.707500,91.988750,32.182500,7.148750,14.882500,40.978750,12.10,14.59

In [98]:
df.loc[df['Country'] == 'Chad']

,Year,Country,Country Code,GDP/capita,Population,"Malaria cases/100,000 pop.","Under-5s (per 100,000)","All ages (per 100,000)","70+ years old (per 100,000)","50-69 years old (per 100,000)","15-49 years old (per 100,000)","5-14 years old (per 100,000)","Age-standardized (per 100,000)",Capital,Latitude,Longitude,Latitude Number,Longitude Number
95,2006,Chad,TCD,1743.617851,10084087.0,4767.864198,320.48,70.10,105.64,38.15,8.64,18.25,51.21,N'Djamena,12.10N,14.59E,12.1,14.59
209,2007,Chad,TCD,1741.487056,10371839.0,4767.864198,280.36,62.19,97.96,35.18,8.04,16.71,45.99,N'Djamena,12.10N,14.59E,12.1,14.59
327,2008,Chad,TCD,1736.919173,10653762.0,4540.720539,264.51,59.12,95.47,33.89,7.57,16.30,43.87,N'Djamena,12.10N,14.59E,12.1,14.59
444,2009,Chad,TCD,1752.119931,10937089.0,41789.350000,257.99,57.60,93.45,32.70,7.20,15.50,42.63,N'Djamena,12.10N,14.59E,12.1,14.59
517,2010,Chad,TCD,1925.195118,11227208.0,39920.370090,229.60,51.95,89.06,30.96,6.82,14.37,39.07,N'Djamena,12.10N,14.59E,12.1,14.59
586,2011,Chad,TCD,1863.845605,11525496.0,39920.370090,206.86,47.18,85.47,29.34,6.44,12.82,36.01,N'Djamena,12.10N,14.59E,12.1,14.59
658,2012,Chad,TCD,1962.877730,11830573.0,37881.396050,196.33,45.24,85.18,28.92,6.33,12.71,34.90,N'Djamena,12.10N,14.59E,12.1,14.59
734,2013,Chad,TCD,2007.077319,12141876.0,36280.130590,192.01,44.28,83.68,28.32,6.15,12.40,34.15,N'Djamena,12.10N,14.59E,12.1,14.59

In [96]:
df.describe()

,Year,GDP/capita,Population,"Malaria cases/100,000 pop.","Under-5s (per 100,000)","All ages (per 100,000)","70+ years old (per 100,000)","50-69 years old (per 100,000)","15-49 years old (per 100,000)","5-14 years old (per 100,000)","Age-standardized (per 100,000)",Latitude Number,Longitude Number
count,744.000000,744.000000,7.440000e+02,744.000000,744.000000,744.000000,744.000000,744.000000,744.000000,744.000000,744.000000,744.000000,744.000000
mean,2009.063172,15610.346529,5.923534e+07,5531.429072,88.510551,20.328105,38.294772,12.725134,3.659086,6.496935,16.234906,16.642581,12.408522
std,2.247784,18510.014775,1.875345e+08,11258.159652,223.030283,48.946384,83.661279,26.873453,7.311322,14.631366,36.996938,25.226667,57.106757
min,2006.000000,738.092490,2.710620e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-41.190000,-99.100000
25%,2007.000000,2881.321423,4.765863e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,-16.400000
50%,2009.000000,9181.520852,1.250545e+07,38.025051,0.020000,0.045000,0.105000,0.050000,0.030000,0.010000,0.050000,14.340000,19.050000
75%,2011.000000,19502.465020,3.939160e+07,2034.978756,18.530000,4.242500,13.242500,4.112500,2.205000,4.155000,4.532500,39.555000,44.357500
max,2013.000000,119723.100700,1.359368e+09,47842.678290,1247.670000,275.620000,423.260000,124.240000,38.130000,72.370000,187.900000,64.100000,174.460000

In [86]:
df = df.dropna()

In [87]:
df.count()

Year                              744
Country                           744
Country Code                      744
GDP/capita                        744
Population                        744
Malaria cases/100,000 pop.        744
Under-5s (per 100,000)            744
All ages (per 100,000)            744
70+ years old (per 100,000)       744
50-69 years old (per 100,000)     744
15-49 years old (per 100,000)     744
5-14 years old (per 100,000)      744
Age-standardized (per 100,000)    744
Capital                           744
Latitude                          744
Longitude                         744
Latitude Number                   744
Longitude Number                  744
dtype: int64

In [100]:
int('10')

10